@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  background-color: #ffffff;
  background-image: url("../../static/Pattern.jpg");
  background-position: center;
  background-size: cover;
}

header,
.github_link {
  font-family: "Roboto Slab", serif;
  position: relative;
  z-index: 10;
}

header {
  background-color: transparent;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid transparent;
  width: 100%;
  padding: 6px 20px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 20px;
}

header nav ul #nav_item_1 {
  margin-right: auto;
}

header nav ul #nav_item_1 a {
  font-weight: 700;
  padding: 6px 12px;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
}

header nav ul #nav_item_4 a {
  background-color: transparent;
  padding: 4px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.678);
  border: 1px solid white;
  max-width: 37.66;
  max-height: 37.66;
}

header nav ul #nav_item_4 a::after {
  display: none;
  opacity: 0;
}

header nav ul #nav_item_4 a:hover {
  background-color: rgba(96, 11, 167);
}

header nav ul #nav_item_4 a:hover svg path {
  fill: white;
}

header nav ul #nav_item_4 a svg {
  height: 100%;
  max-height: 35px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header nav ul #nav_item_4 a svg path {
  fill: rgba(96, 11, 167);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

header nav ul a {
  font-size: 17px;
  font-weight: 600;
  color: rgba(96, 11, 167);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  padding: 5px 12px;
  background-color: rgba(255, 255, 255, 0.678);
  border-radius: 4px;
  gap: 5px;
  overflow: hidden;
  border: 1px solid white;
  white-space: nowrap;
  -webkit-box-shadow: 0 0px 0.9px rgba(0, 0, 0, 0.008), 0 0px 2.1px rgba(0, 0, 0, 0.012), 0 0px 4px rgba(0, 0, 0, 0.015), 0 0px 7.1px rgba(0, 0, 0, 0.018), 0 0px 13.4px rgba(0, 0, 0, 0.022), 0 0px 32px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0px 0.9px rgba(0, 0, 0, 0.008), 0 0px 2.1px rgba(0, 0, 0, 0.012), 0 0px 4px rgba(0, 0, 0, 0.015), 0 0px 7.1px rgba(0, 0, 0, 0.018), 0 0px 13.4px rgba(0, 0, 0, 0.022), 0 0px 32px rgba(0, 0, 0, 0.03);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav ul a svg {
  height: 20px;
}

header nav ul a svg:hover path {
  fill: #ffffff;
}

header nav ul a::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0;
  height: 0%;
  background-color: rgba(96, 11, 167);
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 4px;
}

header nav ul a:hover {
  color: #ffffff;
  background-color: transparent;
}

header nav ul a:hover::after {
  height: 100%;
}

#nav_item_2,
#nav_item_3 {
  display: none;
}

.github_link {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: transparent;
  border: none;
}

.github_link a {
  font-size: 15px;
  font-weight: 600;
  color: #f6f7f8;
  text-decoration: none;
  padding: 3px 14px;
  background-color: rgba(96, 11, 167, 0.336);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid white;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-box-shadow: 0 0px 0.9px rgba(0, 0, 0, 0.008), 0 0px 2.1px rgba(0, 0, 0, 0.012), 0 0px 4px rgba(0, 0, 0, 0.015), 0 0px 7.1px rgba(0, 0, 0, 0.018), 0 0px 13.4px rgba(0, 0, 0, 0.022), 0 0px 32px rgba(0, 0, 0, 0.03), inset 0 0px 0.9px rgba(0, 0, 0, 0.008), inset 0 0px 2.1px rgba(255, 255, 255, 0.012), inset 0 0px 4px rgba(255, 255, 255, 0.015), inset 0 0px 7.1px rgba(255, 255, 255, 0.018), inset 0 0px 13.4px rgba(255, 255, 255, 0.022), inset 0 0px 32px rgba(255, 255, 255, 0.03);
          box-shadow: 0 0px 0.9px rgba(0, 0, 0, 0.008), 0 0px 2.1px rgba(0, 0, 0, 0.012), 0 0px 4px rgba(0, 0, 0, 0.015), 0 0px 7.1px rgba(0, 0, 0, 0.018), 0 0px 13.4px rgba(0, 0, 0, 0.022), 0 0px 32px rgba(0, 0, 0, 0.03), inset 0 0px 0.9px rgba(0, 0, 0, 0.008), inset 0 0px 2.1px rgba(255, 255, 255, 0.012), inset 0 0px 4px rgba(255, 255, 255, 0.015), inset 0 0px 7.1px rgba(255, 255, 255, 0.018), inset 0 0px 13.4px rgba(255, 255, 255, 0.022), inset 0 0px 32px rgba(255, 255, 255, 0.03);
}

.github_link a:hover {
  color: #0d4690;
}

@media screen and (min-width: 700px) {
  header {
    padding: 10px 40px;
  }
  #nav_item_2,
  #nav_item_3 {
    display: block;
  }
  #nav_item_3 svg {
    height: 18px;
  }
  .github_link {
    bottom: 30px;
    right: 40px;
  }
}
/*# sourceMappingURL=style.css.map */


.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box {
  position: absolute;
  left:auto;
  
  top: 25%;
  height: 420px;
  z-index: 5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 23px;
  background-color: transparent;
  backdrop-filter: saturate(180%) blur(10px);
  font-family: "Raleway", sans-serif;
  color: white;
  overflow: hidden;
}

@media only screen and (min-device-with:700px) {
  .box{
    width: 400px;
  }
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.box img {
  border-radius: 40%;
  height: 100px;
  
  align-items: center;
  position: relative;
  top: -5rem;
  left: 6rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.text {
  position: relative;
  top: 45px;
  text-align: center;
  right: 3rem;
}

.user_name {
  font-size: large;
  font-weight: 800;
  text-align: center;
  position: inherit;
  top: 5px;
}

.skill {
  position: inherit;
  bottom: 5px;
  font-size: medium;
  color: rgba(255, 255, 255, 0.877);
}

.arr_container i {
  color: rgb(70, 70, 70);
  position: inherit;
  right: 22px;
  bottom: 16px;
  font-size: large;
  transform: rotate(-45deg);
}

.arr_container,
.cancel {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 23px 0 23px 0;
  transition-duration: 0.3s;
}

.cancel:hover {
  background-color: rgba(255, 255, 255, 0.555);
}

.cancel i {
  color: rgb(70, 70, 70);
  position: inherit;
  right: 20px;
  bottom: 16px;
  font-size: larger;
}

.arr_container:hover {
  background-color: rgba(255, 255, 255, 0.555);
}

.active_arr {
  transform: translate(80%, 80%);
}

.left_container {
  position: absolute;
  background: rgba(96, 11, 167);
  width: auto;
  height: 410px;
  border-radius: 23px;
  padding: 30px 20px 20px 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.488);
  transition: all 0.4s;
}

.left_container p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.left_container .skills div {
  display: inline;
  color: rgb(155, 155, 155);
  border: 1px solid rgb(155, 155, 155);
  padding: 5px 10px;
  font-size: 0.9rem;
  margin: 4px 4px 4px 0;
  cursor: pointer;
  transition-duration: 0.3s;
}

.left_container .skills div:hover {
  color: rgb(33, 175, 128);
  border: 1px solid rgb(23, 90, 128);
}

.left_container .icons {
  font-size: 1.6rem;
  margin-top: 20px;
}

.left_container .icons a {
  color: #cfcfcf;
  cursor: pointer;
  z-index: auto;
  margin-right: 10px;
  transition: all 0.4s;
  text-decoration: none;
}

.left_container .icons a:hover {
  color: #2c5364;
}

.off {
  transform: translate(-80%, -86%) rotate(90deg);
}

.active {
  transform: translate(0px) rotate(0px);
}

@media only screen and (max-width: 600px) {
  .box {
    position: fixed;
    left: 15%;
    top: 20%;
  }
}


#fixed-social {
  position: fixed;
  top: 38%;
  z-index: 10;
}

#fixed-social a {
  color: #fff;
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
   line-height: 40px;
  width: 40px;
  margin-bottom: 1px;
  z-index: 2;
}
#fixed-social a:hover>span{
 visibility: visible;
 left: 41px;
 opacity: 1;
} 
#fixed-social a span {
 line-height: 40px;
   left: 60px;
   position: absolute;
   text-align: center;
   width: 120px;
   visibility: hidden;
   transition-duration: 0.5s;
   z-index: 1;
   opacity: 0;
}
.fixed-facebook{
  background-color: #00AAE5;
}
.fixed-facebook span{
 background-color: #00AAE5;
}
.fixed-twitter{
 background-color: #7D3895;

}
.fixed-twitter span{
  background-color: #7D3895;
}
.fixed-gplus{
 background-color: #00AF54;

}
.fixed-gplus span{
  background-color: #00AF54;
}
.fixed-linkedin{
 background-color: #FFC41E;

}
.fixed-linkedin span{
  background-color: #FFC41E;
}
.fixed-instagrem{
 background-color: #ED2B29;

}
.fixed-instagrem span{
  background-color: #ED2B29;
}
.fixed-tumblr{
 background-color: #EB1471;

}
.fixed-tumblr span{
  background-color: #EB1471;
}
/*end fixed social*/